// ---------------------------------------------------------------------------
// Imports

@import "compass";
@import "susyone";
@import "mixins";

// ---------------------------------------------------------------------------
// Basic Grid

$base-font-size: 16px;
$base-line-height: 24px;
$relative-font-sizing: false;

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$break          : 50em 16;

    // ---------------------------------------------------------------------
    // Winter colors

    $winter-light-gray: #dfe2e2;
    $winter-dark-gray: #5a5a5a;
    $winter-title-blue: #859ca2;
    $winter-slate: #4b6569;
    $winter-blue-on-pale-blue: #def9ff;
    $winter-bright-blue: #228494;
    $winter-hover-blue: #3acacc;
    $winter-pale-blue: #43ADB8;
    $winter-footer-blue: #2f3e4a;
    $winter-off-white: #f8f8f8;

    // ---------------------------------------------------------------------
    // Winter colors


    $labex-title-blue: #00FF00;
    $labex-title-h1: #fec137;
    $labex-header-background: #fec137;

    
    $labex-background-menu: #fec137;
    $labex-text-link: #6d0206;

    $labex-hover-link: #00FF00;
    $labex-link-visited : #00FF00;

    $labex-content-background: #FFF;
    $labex-border-top: #6d0206;

    $labex-gray-text: #6d0206;
    $labex-line: #dfe2e2; 
    $labex-hover: #fec137;
    $labex-footer: #2f3e4a;

        // #fec137
    // #6d0206
    // #2f3e4a
    // #5a5a5a


